* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

hr {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
}

.add-button,
.checkbox-input,
.delete-task-icon,
footer {
  cursor: pointer;
}

body {
  background-color: lightgray;
  width: 420px;
  margin: 0 auto;
}

.main {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3);
}

header,
.add-task-container,
.task,
footer {
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.add-task-container {
  justify-content: space-between;
}

.add-task {
  width: 90%;
}

.add-button {
  width: 18px;
}

.text-input {
  width: 75%;
}

.task {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
}

/* DOM ///////////////////////////////////////// */
.hide {
  display: none;
}

.drag-to-order {
  width: 10px;
}

.strike-through {
  text-decoration: line-through;
}
